# General
.DS_Store
*.log
tmp/
dist/
build/
node_modules/
__pycache__/
*.pyc
.env
.venv/
venv/
bin/
obj/

# IDEs
.vscode/
.idea/
*.swp

# Go
server/server.exe
server/tom.db

# Python (TMA)
tma/

# Node (Client)
client/.bun/

# Tom
./tom.db

# Run
run_dev.bat
run_prod.bat

